In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# 망고플레이트

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/drive/Shareddrives/2022-1 KUBIG 추천시스템 장기프로젝트/알고리즘/찐_최종데이터.csv")

In [ ]:
data.head()

,식당이름,맛,가격,서비스,분위기,평점,맛_카테고리,가고싶다,음식종류,핫플 위치,주소,카테고리
0,만가타,3.154,1.954,3.311,3.367,4.8,맛있다,"2,799",세계 음식,북촌,서울시 종로구 소격동 88-17,8
1,갈로팡,3.382,2.273,3.352,2.727,4.6,맛있다,385,양식,북촌,서울시 종로구 계동 99-12 2F,8
2,일월카츠,2.495,1.770,2.500,1.608,4.6,맛있다,121,고기 요리,북촌,서울시 종로구 계동 144-1,8
3,스시키즈나,2.225,1.023,2.189,2.268,4.5,맛있다,868,회 / 해산물,북촌,서울시 종로구 소격동 159,8
4,오레노라멘,1.980,1.064,1.712,1.770,4.5,맛있다,"2,023",일식,북촌,서울시 종로구 안국동 159 1F,8

## 핫플 리스트

"북촌, 이태원, 한남동, 경리단길, 청담동, 가로수길, 신사, 강남역, 연남동, 망원동, 신촌, 이대, 충무로, 동묘, 안국, 광화문, 경복궁, 서촌, 여의도,홍대, 합정, 명동, 종로, 잠실, 인사동, 성수, 서울숲, 송리단길, 석촌호수,압구정, 혜화, 을지로, 건대입구, 해방촌, 왕십리, 고속터미널, 숙대, 용산,익선동, 논현, 서래마을, 대치동, 신림동, 노량진, 삼성중앙역, 당산역, 이수역,한강진역, 목동, 서대문역, 이촌역, 공덕, 신논현역, 신당동, 옥수역, 연희동,역삼, 상수동, 반포, 사당"

In [ ]:
try:     
	location = input("맛집을 찾고자 하는 지역을 선택해주세요. (필수 X) : ")   
except SyntaxError:    
	pass

맛집을 찾고자 하는 지역을 선택해주세요. (필수 X) : 강남역

In [ ]:
near = input("위에서 입력한 핫플 외의 근처 지역의 식당도 추천 받으시겠습니까? y/n (위 문항 미응답 시 n 입력) : ")

위에서 입력한 핫플 외의 근처 지역의 식당도 추천 받으시겠습니까? y/n (위 문항 미응답 시 n 입력) : y


## 음식 종류 리스트

'세계 음식', '양식', '고기 요리', '회 / 해산물', '일식', '브런치 / 버거 / 샌드위치',
'카페 / 디저트', '한식', '국수 / 면 요리', '중식', '주점', '아시아', '만원 미만', '뷔페'

In [ ]:
food_cat = input("원하시는 음식 종류를 선택해주세요. (필수 X) : ")

원하시는 음식 종류를 선택해주세요. (필수 X) : 고기 요리

## 우선 순위 : 입력 없을 시 평점 순

다른 고객의 평점, 맛, 가격, 서비스, 분위기

In [ ]:
weight1 = input("평점, 맛, 가격, 서비스, 분위기 중 1순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : ")
weight2 = input("평점, 맛, 가격, 서비스, 분위기 중 2순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : ")
weight3 = input("평점, 맛, 가격, 서비스, 분위기 중 3순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : ")
weight4 = input("평점, 맛, 가격, 서비스, 분위기 중 4순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : ")

평점, 맛, 가격, 서비스, 분위기 중 1순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : 맛
평점, 맛, 가격, 서비스, 분위기 중 2순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : 가격
평점, 맛, 가격, 서비스, 분위기 중 3순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : 서비스
평점, 맛, 가격, 서비스, 분위기 중 4순위로 중요하게 생각하시는 것을 입력해주세요. (필수 X) : 분위기

## 추천 알고리즘

In [ ]:
def recommend(location,near,food_cat,weight1,weight2,weight3,weight4):
  if (location is not "") & (near is "n") & (food_cat is not "") :
    sort1 = data[(data['핫플 위치'] == location) & (data['음식종류'] == food_cat)]
    if len(sort1) == 0 :
      return("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      print(sort1.nlargest(len(sort1), ['평점']))
    else:
      return (sort1.nlargest(len(sort1), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is not "") & (near is "y") & (food_cat is not "") :
    sector = data[data['핫플 위치'] == location]['카테고리'].iloc[0]
    sort2 = data[(data['카테고리'] == sector) & (data['음식종류'] == food_cat)]
    if len(sort2) == 0 :
      return("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return(sort2.nlargest(len(sort2), ['평점']))
    else:
      return(sort2.nlargest(len(sort2), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is not "") & (near is "n") & (food_cat is "") :
    sort3 = data[(data['핫플 위치'] == location)]
    if len(sort3) == 0 :
      return("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return(sort3.nlargest(len(sort3), ['평점']))
    else:
      return(sort3.nlargest(len(sort3), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is not "") & (near is "y") & (food_cat is "") :
    sector = data[data['핫플 위치'] == location]['카테고리'].iloc[0]
    sort4 = data[(data['카테고리'] == sector) & (data['음식종류'] == food_cat)]
    if len(sort4) == 0 :
      return("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return(sort4.nlargest(len(sort4), ['평점']))
    else:
      return(sort4.nlargest(len(sort4), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is "") & (food_cat is not "") :
    sort5 = data[data['음식종류'] == food_cat]
    if len(sort5) == 0 :
      return("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return(sort5.nlargest(len(sort5), ['평점']))
    else:
      return(sort5.nlargest(len(sort5), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is "") & (food_cat is "") :
    if weight1 == "" :
      return(data.nlargest(5, ['평점']))
    else:
      return(data.nlargest(5, [weight1, weight2, weight3, weight4],keep = "first"))

In [ ]:
recommend(location,near,food_cat,weight1,weight2,weight3,weight4)

,식당이름,맛,가격,서비스,분위기,평점,맛_카테고리,가고싶다,음식종류,핫플 위치,주소,카테고리
244,손욱정힘불끈황소곱창,2.278,1.222,2.079,1.832,4.3,맛있다,787,고기 요리,강남역,서울시 서초구 서초동 1302-1 서초오피스텔 B1,19
256,고메램,2.271,1.591,3.373,3.095,4.2,맛있다,51,고기 요리,강남역,서울시 서초구 서초동 1328-11 대우도씨에빛 B1,19
1659,유명한참숯닭갈비,2.257,1.136,1.630,1.878,4.3,맛있다,756,고기 요리,역삼,서울시 강남구 역삼동 834-58,19
250,모범갈빗살,2.170,1.622,2.340,2.483,4.2,맛있다,"3,672",고기 요리,강남역,서울시 서초구 서초동 1308-25 104호,19
1655,돝고기506,2.100,1.062,1.685,2.153,4.3,맛있다,"1,659",고기 요리,역삼,서울시 강남구 역삼동 739-13,19
254,카츠8,2.003,1.217,1.917,2.079,4.2,맛있다,677,고기 요리,강남역,서울시 서초구 서초동 1320-10 삼선전자 서초사옥 B1,19
266,고깃집열,1.973,1.486,2.031,2.500,4.1,맛있다,"1,324",고기 요리,강남역,서울시 서초구 서초동 1330-14 2F,19
1651,경천애인 2237,1.953,1.050,1.701,2.064,4.3,맛있다,"7,805",고기 요리,역삼,서울시 강남구 삼성동 142-46,19
268,육즙을 품다,1.940,1.682,2.653,2.185,4.1,맛있다,557,고기 요리,강남역,서울시 서초구 서초동 1307,19
1664,왓어크리스프,1.912,0.994,2.122,2.083,4.3,별로,170,고기 요리,역삼,서울시 강남구 역삼동 828-49 1F,19
1646,육전식당,1.912,0.897,1.469,1.667,4.4,맛있다,"3,906",고기 요리,역삼,서울시 강남구 역삼동 823-10 신도빌딩 1F,19
239,정돈,1.903,0.906,1.410,1.620,4.3,맛있다,"6,203",고기 요리,강남역,서울시 강남구 역삼동 811-4 1F,19
238,로리스더프라임립,1.875,1.538,2.129,2.214,4.3,괜찮다,"5,297",고기 요리,강남역,서울시 서초구 서초동 1317-23 GT타워 3F,19
271,오스틴,1.752,1.168,1.610,1.824,4.0,맛있다,"3,762",고기 요리,강남역,서울시 강남구 역삼동 617-3 B1,19
242,서동한우,1.731,1.329,1.633,2.350,4.3,맛있다,750,고기 요리,강남역,서울시 서초구 서초동 1327-29 1F,19
1653,고갯마루집,1.692,0.937,1.515,1.873,4.3,맛있다,"4,593",고기 요리,역삼,서울시 강남구 역삼동 725-12,19
269,뽕족,1.676,0.989,1.420,1.503,4.1,맛있다,714,고기 요리,강남역,서울시 강남구 역삼동 824-12,19
1662,별양집,1.620,0.875,1.446,1.778,4.3,맛있다,983,고기 요리,역삼,서울시 강남구 역삼동 700-33,19

# 네이버 리뷰

In [ ]:
naver = pd.read_csv("/content/drive/Shareddrives/2022-1 KUBIG 추천시스템 장기프로젝트/알고리즘/naver_data.csv")

In [ ]:
naver.head()

   title     맛    가격   서비스   분위기   평점 locate  category     food
0    만가타  0.18  0.02  0.16  0.15  4.8     북촌         8    세계 음식
1    갈로팡  0.20  0.03  0.21  0.08  4.6     북촌         8       양식
2   일월카츠  0.18  0.02  0.29  0.04  4.6     북촌         8    고기 요리
3  스시키즈나  0.23  0.05  0.23  0.03  4.5     북촌         8  회 / 해산물
4  오레노라멘  0.23  0.03  0.25  0.01  4.5     북촌         8       일식

In [ ]:
naver = naver.rename(columns = {'locate' : '핫플 위치', 'category' : '카테고리', 'food' : '음식종류'})

In [ ]:
naver[naver['핫플 위치'] == location]['카테고리'].iloc[0]

19

In [ ]:
def recommend_naver(location,near,food_cat,weight1,weight2,weight3,weight4):
  if (location is not "") & (near is "n") & (food_cat is not "") :
    n_sort1 = naver[(naver['핫플 위치'] == location) & (naver['음식종류'] == food_cat)]
    if len(n_sort1) == 0 :
      return ("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return (n_sort1.nlargest(len(n_sort1), ['맛']))
    else:
      return (n_sort1.nlargest(len(n_sort1), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is not "") & (near is "y") & (food_cat is not "") :
    n_sector = naver[naver['핫플 위치'] == location]['카테고리'].iloc[0]
    n_sort2 = naver[(naver['카테고리'] == n_sector) & (naver['음식종류'] == food_cat)]
    if len(n_sort2) == 0 :
      return ("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return (n_sort2.nlargest(len(n_sort2), ['맛']))
    else:
      return (n_sort2.nlargest(len(n_sort2), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is not "") & (near is "n") & (food_cat is "") :
    n_sort3 = naver[(naver['핫플 위치'] == location)]
    if len(n_sort3) == 0 :
      return ("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return (n_sort3.nlargest(len(n_sort3), ['맛']))
    else:
      return (n_sort3.nlargest(len(n_sort3), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is not "") & (near is "y") & (food_cat is "") :
    n_sector = naver[naver['핫플 위치'] == location]['카테고리'].iloc[0]
    n_sort4 = naver[(naver['카테고리'] == n_sector) & (naver['음식종류'] == food_cat)]
    if len(n_sort4) == 0 :
      return ("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return (n_sort4.nlargest(len(n_sort4), ['맛']))
    else:
      return (n_sort4.nlargest(len(n_sort4), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is "") & (food_cat is not "") :
    n_sort5 = naver[naver['음식종류'] == food_cat]
    if len(n_sort5) == 0 :
      return ("해당 조건에 맞는 식당이 없습니다.")
    if weight1 == "" :
      return (n_sort5.nlargest(len(n_sort5), ['맛']))
    else:
      return (n_sort5.nlargest(len(n_sort5), [weight1, weight2, weight3, weight4],keep = "first"))

  if (location is "") & (food_cat is "") :
    if weight1 == "" :
      return (naver.nlargest(5, ['맛']))
    else:
      return (naver.nlargest(5, [weight1, weight2, weight3, weight4],keep = "first"))

In [ ]:
recommend_naver(location,near,food_cat,weight1,weight2,weight3,weight4)

           title     맛    가격   서비스   분위기   평점 핫플 위치  카테고리   음식종류
1661      왓어크리스프  0.32  0.02  0.20  0.01  4.3    역삼    19  고기 요리
268       육즙을 품다  0.31  0.02  0.20  0.00  4.1   강남역    19  고기 요리
244   손욱정힘불끈황소곱창  0.30  0.02  0.21  0.01  4.3   강남역    19  고기 요리
1656    유명한참숯닭갈비  0.29  0.05  0.21  0.00  4.3    역삼    19  고기 요리
1650       고갯마루집  0.29  0.03  0.19  0.03  4.3    역삼    19  고기 요리
1643        육전식당  0.27  0.01  0.23  0.02  4.4    역삼    19  고기 요리
1659         별양집  0.27  0.01  0.22  0.02  4.3    역삼    19  고기 요리
269           뽕족  0.26  0.02  0.24  0.01  4.1   강남역    19  고기 요리
266         고깃집열  0.26  0.02  0.22  0.03  4.1   강남역    19  고기 요리
239           정돈  0.26  0.01  0.23  0.03  4.3   강남역    19  고기 요리
1648   경천애인 2237  0.25  0.01  0.23  0.05  4.3    역삼    19  고기 요리
250        모범갈빗살  0.24  0.03  0.23  0.03  4.2   강남역    19  고기 요리
271          오스틴  0.24  0.02  0.20  0.06  4.0   강남역    19  고기 요리
1652      돝고기506  0.23  0.00  0.25  0.05  4.3    역삼    19  고기 요리
256          고메램  0.20  0.01  0.23  0.10  4.2   강남역    19  고기 요리
242         서동한우  0.19  0.02  0.26  0.05  4.3   강남역    19  고기 요리
254          카츠8  0.19  0.00  0.25  0.07  4.2   강남역    19  고기 요리
238     로리스더프라임립  0.14  0.01  0.25  0.12  4.3   강남역    19  고기 요리